body { padding-top: 60px; }

.border { padding: 20px; border: 1px solid #bfbfbf; box-shadow: 1px 1px 5px #a6a6a6; background-color: white; }

.center{ margin: 0 auto; float: none; }

.top-buffer { margin-top: 10px; }

.inner-buffer { padding: 10px; }

.glyphicon-home, .glyphicon-user { font-size: 1.5em; }

.glyphicon-off { font-size: 1em; margin-right: 5px; }

.pagination { margin: 0; }

.form-control { font-size: 14px; }

thead tr > td { font-weight: bold; font-size: 15px; }

tbody tr > td { overflow: hidden; text-overflow: ellipsis; white-space: nowrap; max-width: 0; }

.issueDetails p, .issueEdit p, .projectDetails p { display: inline; margin-left: 5px; }
.issueDetails span, .issueEdit span, .projectDetails span { font-weight: bold; }

.issueDetails .panel-heading span { margin-top: 1.2%; }
.issueDetails .panel-heading { height: 57px; }
.issueDetails .row, .issueEdit .row, .projectDetails .row { margin: 0 0 10px 0; }