<section class="container register">
    <div class="col-lg-7 center border">
        <form>
            <div class="form-group text-center">
                <h3>Change Password</h3>
            </div>
            <div class="form-group">
                    <input type="password"
                           class="form-control"
                           id="old-password"
                           placeholder="Old Password"
                           ng-model="user.oldPassword">
            </div>
            <div class="form-group">
                    <input type="password"
                           class="form-control"
                           id="new-password"
                           placeholder="New Password"
                           ng-model="user.newPassword">

            </div>
            <div class="form-group">
                    <input type="password"
                           class="form-control"
                           id="confirm-password"
                           placeholder="Confirm Password"
                           ng-model="user.confirmPassword">

            </div>
            <div class="form-group">
                <div class="text-center">
                    <button ng-click="changePass(user)" type="submit" class="btn btn-primary">Update</button>
                    <a href="#/" class="btn btn-default">Cancel</a>
                </div>
            </div>
        </form>
    </div>
</section>