<div class="text-center row">
    <button ng-click="getAllUsers(); showUsers = !showUsers;" class="btn btn-info">All Users</button>
    <a href="#/projects/add" class="btn btn-success">Add project</a>
</div>
<div ng-if="showUsers" class="row">
    <div class="col-md-5 center top-buffer">
        <input class="form-control" type="text" placeholder="Search" ng-model="searchUser">
    </div>
    <div class="col-md-3 inner-buffer"
         ng-repeat="user in allUsers | filter:searchUser"
         ng-include="'app/views/user/userCell.html'">
    </div>
</div>